.input {
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 10px;
    font-size: 16px;
    color: lightslategray;
    outline: none;
    display: block;
    margin: 10px 0px;
}

.small {
    width: 200px;
}

.medium {
    width: 400px;
    font-size: 18px;
    font-weight: 400;
}

.large {
    width: 600px;
    font-size: 22px;
    font-weight: 600;
}